.navbar{

position:fixed;

width:100%;

top:0;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 8%;

background:rgba(15,23,42,.75);

backdrop-filter:blur(10px);

z-index:1000;

}

.logo{

color:white;

font-size:24px;

font-weight:700;

}

ul{

display:flex;

gap:30px;

list-style:none;

}

a{

color:white;

text-decoration:none;

transition:.3s;

}

a:hover{

color:#38bdf8;

}

.menu{

display:none;

background:none;

border:none;

color:white;

font-size:24px;

}

@media(max-width:768px){

ul{

display:none;

}

.menu{

display:block;

}

}